@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Nemesys!</h1>
    <p>On this app, you can report any incident which hapened on the campus! </p>
</div>
