@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Nemesys!</h1>
    <p>On this website, you can inform us about incidents that took place on your campus  ! </p>
    <p> © Website created by Henri Petrelli and Anatole Claudin ! </p>
</div>
