@model Bloggy.ViewModels.EditInvestigationViewModel

<h2>Edit Investigation</h2>

<form asp-action="Edit" method="post" role="form" enctype="multipart/form-data">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input asp-for="Id" type="hidden" class="form-control" />

    <div class="form-group">
        <label asp-for="DescriptionOfInvestigation" class="col-md-2"></label>
        <div class="col-md-5">
            <textarea asp-for="DescriptionOfInvestigation" class="form-control"></textarea>
            <span asp-validation-for="DescriptionOfInvestigation" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="StatusId" class="col-md-2"></label>
        <div class="col-md-5">
            <select asp-for="StatusId"
                    asp-items="@(new SelectList(Model.StatusList,"Id","Name"))">
                <option value="">Select a status</option>
            </select>
            <span asp-validation-for="StatusId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-5">
            <input type="submit" class="btn btn-primary" value="Edit Investigation" />
            <a asp-controller="Investigation" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-outline-secondary">Back to Investigation</a>
        </div>
    </div>
</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}